<div class="bg-white" style="position: relative;">
  <div class="w-100" style="min-height: 80vh; height: auto; background-size: cover; background-position: center; background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(assets/banner.jpg); display: flex; align-items: center;">
    <h3 style="font-weight: bolder; margin-left: 32px; padding: 16px; width: 280px; background-color: rgba(155,155,155, 0.4); border-radius: 8px; color: white;">Une gestion de l’épargne simple, efficace et transparente</h3>
  </div>
  <img style=" width: 60px; height: 60px; display: block; margin: auto;" src="../assets/arrow_down.png" alt="">
  <div style="display: flex; flex-direction: column; justify-content: space-around; border: solid white 1px; text-align: center; padding: 24px; width: 136px; height: 136px; position: sticky; top: 20vh; left: 85%; background-color: #00A096; border-radius: 50%; color: white; font-weight: bolder; z-index: 99;">
    <p style="font-size: 12px; font-weight: bolder;">Contact :</p>
    <p style="font-size: 12px; font-weight: bolder;">01 40 07 16 34</p>
    <a href="https://www.leduc-associes.fr/nous_contacter" style="color: white; font-size: 12px;">nous écrire</a>
  </div>
  <div class="d-flex mt-1 mb-1 pl-3 pr-3" style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div class="d-flex flex-column mt-2" style="color: #3E3D40; text-align: center; justify-content: center;">
      <h3><strong>Cabinet Leduc &<span style="color: #00A096;"> Associés</span></strong></h3>
      <h5>Nous vous aidons à faire le bon choix sur l’outil de capitalisation.</h5>
      <h5>Notre modèle est basé sur le triptyque « <strong>Diversification, Indépendance et Gestion Active </strong>»</h5>
      <h5>Nous avons mis en place un <strong>comité d'investissement</strong> à fréquence bimestrielle piloté par deux de nos associés.</h5>
      <br>
      <a class="btn" style="width:33%; background-color:#00A096; color: white; font-weight: bolder; border-radius: 6px; margin: auto;" href="https://www.leduc-associes.fr/nous_contacter">Nous contacter</a>
    </div>
    <img style="max-height: 50vh; width: auto; max-width: 100%" src="../assets/associes.png" alt="">
  </div>
  <div class="d-flex flex-column mt-1" style="height: 80%; background-image: url(../assets/design.jpg);">
    <img class="w-100" src="../assets/perf.png" alt="">
  </div>
  <div style="color: white; background-color: #3E3D40;">
    <h2 class="pt-2" style="text-align: center; font-weight: bolder;">Pourquoi choisir le cabinet Leduc & Associés ?</h2>
    <div class="d-flex flex-column justify-content-around align-items-center p-5">
      <p style="font-weight: bolder; font-size: 20px;">Le cabinet Leduc & Associés fait partie des meilleurs<br>cabinets de gestion de patrimoine d’Île-de-France,<br>sélectionnés par le magazine «Décideurs» en 2020</p>
      <img style="width: 240px; height: auto;" src="../assets/mag.png" alt="">
    </div>
    <h3 style="text-align: center;">Nos analyses reprises dans les médias</h3>
    <div class="d-flex justify-content-around align-items-center" style="height: 30vh;">
      <img style="width: auto; max-width: 30%; height: auto; max-height: 60px;" src="../assets/forbes.png" alt="">
      <img style="width: auto; max-width: 30%; height: auto; max-height: 60px;" src="../assets/fundwatchs.png" alt="">
      <img style="width: auto; max-width: 30%; height: auto; max-height: 60px;" src="../assets/boursedirect.png" alt="">
    </div>
  </div>
</div>
