<div class="bg-white">
<!-- navbar to get from layout  -->
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="height: 80vh;">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="3000">
          <img src="../assets/1.jpg" style="filter: grayscale(0.2); height: 99vh; width: 100%; margin: auto; background: linear-gradient(#2BA096, #0000);" alt="text">
          <div class="carousel-caption d-none d-md-block" style="font-weight: bolder;">
            <h1 style="font-weight: bolder; font-size: 3rem; text-shadow: 2px 2px 2px black;">Nos experts vous accompagnent dans<br>la sélection des meilleurs actifs immobiliers.</h1>
            <a class="btn" style="background-color:#00A096; color: white; font-weight: bolder; border-radius: 6px;" href="https://www.leduc-associes.fr/nous_contacter">Nous contacter</a>
          </div>
      </div>
      <div class="carousel-item" data-interval="3000">
        <img src="../assets/2.jpg" style="filter: grayscale(0.2); height: 99vh; width: 100%; margin: auto;" alt="...">
        <div class="carousel-caption d-none d-md-block" style="font-weight: bolder;">
          <h1 style="font-weight: bolder; font-size: 3rem; text-shadow: 2px 2px 2px black;">Nos experts vous accompagnent dans<br>la sélection des meilleurs actifs immobiliers.</h1>
          <a class="btn" style="background-color:#00A096; color: white; font-weight: bolder;" href="https://www.leduc-associes.fr/nous_contacter">Nous contacter</a>
        </div>
      </div>
      <div class="carousel-item" data-interval="3000">
        <img src="../assets/3.jpg" style="filter: grayscale(0.2); height: 99vh; width: 100%; margin: auto;" alt="...">
        <div class="carousel-caption d-none d-md-block" style="font-weight: bolder;">
          <h1 style="font-weight: bolder; font-size: 3rem; text-shadow: 2px 2px 2px black;">Nos experts vous accompagnent dans<br>la sélection des meilleurs actifs immobiliers.</h1>
          <a class="btn" style="background-color:#00A096; color: white; font-weight: bolder;  border-radius: 6px;" href="https://www.leduc-associes.fr/nous_contacter">Nous contacter</a>
        </div>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: column; justify-content: space-around; border: solid white 1px; text-align: center; padding: 24px; width: 136px; height: 136px; position: sticky; top: 20vh; left: 85%; background-color: #00A096; border-radius: 50%; color: white; font-weight: bolder; z-index: 99;">
    <p style="font-size: 12px; font-weight: bolder;">Contact :</p>
    <p style="font-size: 12px; font-weight: bolder;">01 40 07 16 34</p>
    <a href="https://www.leduc-associes.fr/nous_contacter" style="color: white; font-size: 12px;">nous écrire</a>
  </div>
  <div class="d-flex flex-lg-row flex-sm-column mt-2 mb-2 pl-3 pr-3" style="min-height: 60vh; width: 100%;">
    <img src="../assets/profil2.png" alt="" class="h-100" style="width: auto; border-radius: 8px; padding-top: 32px;">
    <div class="d-flex flex-column w-50 w-sm-30 mt-5" style="color: #3E3D40; text-align: justify;">
      <h3><strong>Cabinet Leduc &<span style="color: #00A096;"> Associés</span></strong></h3>
      <p>Nous estimons que l’immobilier reste la <strong>meilleure classe d’actifs</strong> pour se constituer un <strong>patrimoine</strong> et <strong>réduire ses impôts</strong>.</p>
      <p>Nous sommes à l’opposé de l’étalement urbain des décennies passées inadapté aussi bien esthétiquement, socialement que d’un point de vue environnemental.</p>
      <p>Nous privilégions des projets situés dans l'<strong>hyper-centre des villes</strong> de taille moyenne, des choix patrimoniaux avec une <strong>plus-value à terme</strong> et la <strong>création de valeur</strong> dans la durée.</p>
      <p>La création de valeur réside dans la profondeur des travaux sur les parties communes et privatives.</p>
      <p>La valeur ajoutée de notre cabinet réside dans la <strong>sélection des actifs</strong> et notre <strong>accompagnement</strong> dans la mise en place des solutions.</p>
      <img style="width: 75%; height: auto; margin: auto;" src="../assets/4.jpg" alt="">
      <a class="btn mt-1" style="width:33%; background-color:#00A096; color: white; font-weight: bolder; border-radius: 6px; margin: auto;" href="https://www.leduc-associes.fr/nous_contacter">Nous contacter</a>
    </div>
  </div>
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-around; color: white; background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../assets/1.jpg'); width: 100%; min-height: 100vh; position: relative;">
    <span style="position: absolute; top: -1px; display: inline-block; height: 0; width: 0; border-top: 30px solid white; border-right : 99vw solid transparent;"></span>
    <h2 style="text-shadow: 2px 2px 2px black;">Les dispositifs fiscaux</h2>
    <div style="display: flex; justify-content: space-around; width: 100%; color: white; text-shadow: 2px 2px 2px black;">
      <h2 style="height: 40vh; width: 20vw; border: solid 3px #2BA096; padding: 32px; display: flex; justify-content: center; align-items: center; background-color: rgba(255, 255, 255, 0.3); border-radius: 6px;">Malraux</h2>
      <h2 style="height: 40vh; width: 20vw; border: solid 3px #2BA096; padding: 32px; display: flex; justify-content: center; align-items: center; background-color: rgba(255, 255, 255, 0.3); border-radius: 6px;">Déficit<br>Foncier</h2>
      <h2 style="height: 40vh; width: 20vw; border: solid 3px #2BA096; padding: 32px; display: flex; justify-content: center; align-items: center; background-color: rgba(255, 255, 255, 0.3); border-radius: 6px;">Monument<br>Historique</h2>
    </div>
    <div style="text-shadow: 2px 2px 2px black;">
      <h4><i class="fas fa-check"></i>&nbsp;  &nbsp; Dispositifs adaptés à chaque situation fiscale (tranche marginale d'imposition 30% - 41% - 45%)</h4>
      <h4><i class="fas fa-check"></i>&nbsp;  &nbsp; Impact fiscal puissant et immédiat</h4>
      <h4><i class="fas fa-check"></i>&nbsp;  &nbsp; Hors plafonnement des niches fiscales</h4>
      <h4><i class="fas fa-check"></i>&nbsp;  &nbsp; Pas de limitation des ressources des locataires ni des loyers pratiqués</h4>
    </div>
    <span style="position: absolute; bottom: -1px; display: inline-block; height: 0; width: 0; border-bottom: 30px solid white; border-left : 99vw solid transparent;"></span>
  </div>
  <div class="d-flex flex-column mt-5" style="height: 80vh; background-image: url(../assets/design.jpg);">
    <h2 class="text-center mb-4" style="color: #3E3D40; font-weight: bolder;">Exemple de commercialisations réalisées</h2>
    <div class="d-flex flex-row justify-content-around">
      <img data-toggle="modal" data-target="#exampleModal" src="../assets/malraux.png" class="card-img-top" style="width: 20%; border-radius: 8px; box-shadow: 3px 3px 3px 3px rgba(203,205,218,0.6);" alt="...">
      <img data-toggle="modal" data-target="#exampleModal" src="../assets/monument.png" class="card-img-top" style="width: 20%; border-radius: 8px; box-shadow: 3px 3px 3px 3px rgba(203,205,218,0.6);" alt="...">
      <img data-toggle="modal" data-target="#exampleModal" src="../assets/deficit.png" class="card-img-top" style="width: 20%; border-radius: 8px; box-shadow: 3px 3px 3px 3px rgba(203,205,218,0.6);" alt="...">
    </div>
  </div>
  <div style="position: relative; overflow: hidden;">
    <span style="position: absolute; top: -1px; display: inline-block; height: 0; width: 0; border-top: 30px solid #3E3D40; border-left : 99vw solid transparent;"></span>
    <br>
    <h2 class="p-2" style="text-align: center; font-weight: bolder; color: #3E3D40;">Pourquoi choisir le cabinet Leduc & Associés ?</h2>
  </div>
  <div style="color: white; background-color: #3E3D40;">
    <div class="d-flex justify-content-around align-items-center p-5">
      <p style="font-weight: bolder; font-size: 20px;">Le cabinet Leduc & Associés fait partie des meilleurs<br>cabinets de gestion de patrimoine d’Île-de-France,<br>sélectionnés par le magazine «Décideurs» en 2020</p>
      <img style="width: 240px; height: auto;" src="../assets/mag.png" alt="">
    </div>
    <h3 style="text-align: center;">Nos analyses reprises dans les médias</h3>
    <div class="d-flex justify-content-around align-items-center" style="height: 30vh;">
      <img style="width: auto; max-width: 30%; height: auto; max-height: 60px;" src="../assets/forbes.png" alt="">
      <img style="width: auto; max-width: 30%; height: auto; max-height: 60px;" src="../assets/fundwatchs.png" alt="">
      <img style="width: auto; max-width: 30%; height: auto; max-height: 60px;" src="../assets/boursedirect.png" alt="">
      <img style="width: auto; max-width: 30%; height: auto; max-height: 60px;" src="../assets/livinvest.png" alt="">
    </div>
    <div class="d-flex flex-column">
      <h3 style="color: white; text-align: center;">Ils ont bénéficié de nos conseils</h3>
      <br>
      <br>
      <div class="d-flex justify-content-around" style="color: white; font-weight: bolder; text-align: justify;">
        <div style="width: 30%;">
          <p>"Un cabinet rigoureux avec un véritable conseil et pas de la vente de produits"</p>
          <p style="color: #2BA096;">Karen P.</p>
        </div>
        <div style="width: 30%;">
          <p>"Très grande disponiblité de l'équipe et très bons conseils, bref : expérience positive"</p>
          <p style="color: #2BA096;">Pierre R.</p>
        </div>
        <div style="width: 30%;">
          <p>"Cabinet très professionnel, réelle expertise sur la gestion d'actifs! je recommande vivement"</p>
          <p style="color: #2BA096;">Bertrand R.</p>
        </div>
      </div>
      <span style="margin: 5vh; color: #F9B53C; font-weight: bolder; text-align: center; font-size: 1.5rem;">4.9 &nbsp;<i class="fas fa-star"></i>&nbsp;<i class="fas fa-star"></i>&nbsp;<i class="fas fa-star"></i>&nbsp;<i class="fas fa-star"></i>&nbsp;<i class="fas fa-star"></i></span>
    </div>
  </div>
  <!-- footer to get from layout -->
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Les commercialisations réalisées : </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: justify;">
        <h3 style="font-weight: bolder; color: white; text-align:center; padding: 16px; border-radius: 6px; background-color: #2BA096;">Versailles - Malraux</h3>
        <p>Il s'agit du bien situé au 22 rue Pain à Versailles.</p>
        <p>L'investissement est particulèrement patrimonial, en plein coeur du quartier commerçant, proche des transports.</p>
        <p>L'immeuble est constitué de 10 appartements, les lots ont été réservés en 24 heures!</p>
        <img style="width: 100%; height: auto; margin-bottom: 16px;" src="../assets/versailles.jpg" alt="">
        <br>
        <h3 style="font-weight: bolder; color: white; text-align:center; padding: 16px; border-radius: 6px; background-color: #2BA096;">Orléans - Monument Historique</h3>
        <p>Il s'agit de l'Hôtel Dubreuil en coeur de centre ville, édité en 1889, 2 ans après la Tour Eiffel dont les coursives décorées en fer forgé s'inspire librement.</p>
        <p>La majestueuse façade de pierre blanche préserve le calme d'un patio Art Nouveau qui se singularise par ses magnifiques coursives extérieures.</p>
        <p>L'effet fiscal est très important, avec un mix travaux de 82%.</p>
        <img style="width: 100%; height: auto; margin-bottom: 16px;" src="../assets/orleans.jpg" alt="">
        <br>
        <h3 style="font-weight: bolder; color: white; text-align:center; padding: 16px; border-radius: 6px; background-color: #2BA096;">Toulon - Déficit Foncier</h3>
        <p>La ville de Toulon est en pleine mutation, notamment le centre-ville qui bénéficie depuis quelques années d’un programme de réhabilitation d’une ampleur inédite.</p>
        <p>Ce très bel immeuble en pierre de taille est situé au 24 rue Victor Clappier au sein du site patrimonial remarquable.</p>
        <p>L’immeuble comprend 15 appartements avec balcon et terrasse tropézienne et la quote-part travaux ressort à 71%.</p>
        <img style="width: 100%; height: auto; margin-bottom: 16px;" src="../assets/toulon.jpg" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
